<?xml version="1.0" encoding="utf-8" ?>
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">

    <targets>
        <target name="logfile" xsi:type="File" fileName="run.log"
        layout="${time}|${pad:padding=5:inner=${level:uppercase=true}}|${pad:padding=22:inner=${callsite:fileName=True:includeSourcePath=False:className=False:methodName=False}}|${message}"/>
        <target name="coloredConsole" xsi:type="ColoredConsole" useDefaultRowHighlightingRules="false"
        layout="${time}|${pad:padding=5:inner=${level:uppercase=true}}|${pad:padding=22:inner=${callsite:fileName=True:includeSourcePath=False:className=False:methodName=False}}|${message}" >
            <highlight-word regex="\b(?:(?:25[0-5]|2[0-4][0-9]|[01]?[0-9][0-9]?)\.){3}(?:25[0-5]|2[0-4][0-9]|[01]?[0-9][0-9]?)\b" foregroundColor="Yellow"/> <!-- ipV4 detection-->
            <highlight-word regex="(?:\ |,)\-?([0-9]){1,}(?=\ |\z|,)" foregroundColor="Blue"/> <!-- number detection-->
            <highlight-word regex="0[xX][0-9a-fA-F]+" foregroundColor="Yellow"/> <!-- hex and number detection-->
            <highlight-word regex="(F|f)alse" foregroundColor="Red"/>
            <highlight-word regex="(T|t)rue" foregroundColor="Green"/>
            <highlight-word regex="\|TRACE\|" foregroundColor="DarkGray"/>
            <highlight-word regex="\|DEBUG\|" foregroundColor="White"/>
            <highlight-word regex="\| INFO\|" foregroundColor="Green"/>
            <highlight-word regex="\| WARN\|" foregroundColor="Yellow"/>
            <highlight-word regex="\|ERROR\|" foregroundColor="Red"/>
            <highlight-word regex="\|FATAL\|.*" foregroundColor="DarkRed"/>
            <highlight-word regex="\(.*\:\d+\)" foregroundColor="Blue"/>


        </target>
    </targets>

    <rules>
        <logger name="*" minlevel="Trace" writeTo="ColoredConsole" />
        <logger name="*" minlevel="Trace" writeTo="logfile" />
    </rules>
</nlog>