<?xml version="1.0" encoding="utf-8" ?>
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">

    <targets>
        <target name="logfile" xsi:type="File" fileName="run.log" />
        <target name="coloredConsole" xsi:type="ColoredConsole" useDefaultRowHighlightingRules="false"
        layout="${time}|${pad:padding=5:inner=${level:uppercase=true}}|${message}" >
            <highlight-word regex="\|TRACE\|" foregroundColor="DarkGray"/>
            <highlight-word regex="\|DEBUG\|" foregroundColor="White"/>
            <highlight-word regex="\| INFO\|" foregroundColor="Green"/>
            <highlight-word regex="\| WARN\|" foregroundColor="Yellow"/>
            <highlight-word regex="\|ERROR\|" foregroundColor="Red"/>
            <highlight-word regex="\|FATAL\|.*" foregroundColor="DarkRed"/>
            
        </target>
    </targets>

    <rules>
        <logger name="*" minlevel="Trace" writeTo="ColoredConsole" />
        <logger name="*" minlevel="Debug" writeTo="logfile" />
    </rules>
</nlog>